@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,700&display=swap);
}

@font-face {
    font-family: 'IBM Plex Mono', monospace;
    src: url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400;700&display=swap);
}