:root {
    --primary: #003049;
    --primary-light: #4B728A;
    --primary-toned: #699bf7;
    --accent: #FF4A1C; 
    --accent-light: #FF643D;
    --white: #D7CEBB;
    --pure-white: #fcfcfc;
    --black: #202122;
    --gray: #3A4249;
    --success: #57F287;
}

/* :root {
    --primary: #61A1D7;
    --primary-light: #9AC6F1;
    --accent: #FF9505; 
    --accent-light: #F1A818;
    --white: #E3EFF2;
    --black: #2F70BD;
} */