@use '_rootVariables.scss';

$primary: var(--primary);
$primary-light: var(--primary-light);
$primary-toned: var(--primary-toned);
$accent: var(--accent);
$accent-light: var(--accent-light);
$white: var(--white);
$pure-white: var(--pure-white);
$black: var(--black);
$gray: var(--gray);
$success: var(--success);

$filter-primary: invert(11%) sepia(30%) saturate(6000%) hue-rotate(180deg) brightness(96%) contrast(103%);
$filter-primary-toned: invert(51%) sepia(55%) saturate(1220%) hue-rotate(198deg) brightness(105%) contrast(94%);
$filter-accent: invert(49%) sepia(54%) saturate(6643%) hue-rotate(348deg) brightness(101%) contrast(103%);